@media only screen and (min-width: 800px) {
   
    nav button{
        display: none;
    }
    nav ul#primaryNav{
        display: flex;
        margin-left: 2vw;
    }
    header img{
        width: 100%;
    }
    .headings h1{
        font-size: 2.3rem;
        margin: 0;
    } 
    .gridContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
        height: 100vh;
    }
    .event{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        text-align: center;
        background: radial-gradient(#eee,#57B8FF)
    }
    .hero{
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .spotlights{
        grid-column-start: 5;
        grid-row-start: 1;
        grid-row-end: 4; 
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;

    }
    .weather{
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: 2;
        text-align: center;
    }
    .join{
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: center;
    }
    .news{
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: center;

    }
    .spot1, .spot2, .spot3{
        border: 1px solid #333;
        box-shadow: 0 0 10px #000;
        margin: 10px;
        background: radial-gradient(#eee,#57B8FF)
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .logo-footer{
        grid-column-start: 1;
        grid-column-end: 2;
        margin-top: 15px;
        margin-left: 50%;
    }
    .footer-date{
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
        border-top:  1px solid #333;
    }
    .location{
        grid-column-start: 3;
        grid-column-end: 2;
        text-align: center;
    } 
    /*----------- Discover --------------*/
    .discover{
        display: flex;
       flex-direction: column;
        padding: 10px;
        color: white;
      
    }
   
    
    /*----------- FORM --------------*/
.join-form{
    margin: 10px auto;
    width: 50%;
    padding: 10px;
    background: radial-gradient(#eee,#57B8FF);
}
.join-form h2{
    text-align: center;
    padding: 1.5rem;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: 1rem;
}
form legend {
    color: #1C448E;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: white;
    font-size: 1.5rem;
} 
form label.top input, form label.top select,  form label.top textarea{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form label.sbs{
    display: block;
    padding: .75rem 0;
    color: #555;
}
form input.submitBtn{
    border: none;
    background: #2176AE;
    color: white;
    padding: .75rem 1.5rem;
    margin: 20px auto;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: #1C448E solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}

}